.logo_inner_calculadora_top_right {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 70px;
  filter: invert(1);
}

.logo_inner_calculadora_bottom_left {
  position: absolute;
  bottom: 2px;
  left: 5px;
  width: 60px;
  filter: invert(1);
}
